# Login server credentials
# L2JLOGIN_DB_USER=l2jls
# L2JLOGIN_DB_PASS=l2jls_password
# L2JLOGIN_DB_NAME=l2jls

# Game server credentials
# L2JGAME_DB_USER=l2jgs
# L2JGAME_DB_PASS=l2jgs_password
# L2JGAME_DB_NAME=l2jgs

# MariaDB credentials
# MARIADB_ROOT_PASSWORD=this_is_a_secret

# Data directory
# DATA_DIR=data

# Images
# L2JLOGIN_IMAGE=nonom/l2j-server-login:latest
# L2JGAME_IMAGE=nonom/l2j-server-game:latest
# MARIADB_IMAGE=mariadb:11.8
