# L2JLOGIN_DB_USER=l2j
# L2JLOGIN_DB_PASS=l2jls_password
# L2JLOGIN_DB_NAME=l2jls

# L2JGAME_DB_USER=l2j
# L2JGAME_DB_PASS=l2jgs_password
# L2JGAME_DB_NAME=l2jgs

# MARIADB_ROOT_PASSWORD=this_is_a_secret